@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

.container {
    margin: 100%;
}

.row {
    padding-top: 6vh;
}

.shadow {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
}

.input-group.shadow,
#mensagem {
    height: 8vh;
}

.row.mensagem {
    margin: 0px;
    padding-top: 5px;
}

.canais-nav {
    color: black;
    background: #403866;
    font-weight: bold;
}

.canais-nav li {
    width: 150px;
    padding-right: 3px;
    text-align: center;
}

.canais-nav a {
    background-color: #E7CFFF;
    cursor: pointer;
    height: 50px;
}

.frame-scroll {
    margin-bottom: 0px;
    padding: 15px 15px 0px 15px;
    overflow-y: scroll;
    height: 72.5vh;
    background-color: white;
    position: relative;
    font-weight: bold;
    font-size: 1.05em;
}

.btn.btn-warning {
    font-family: Ubuntu-Bold, sans-serif;
    border-radius: 0 !important;
}

.frame {
    padding-right: 0px;
    padding-left: 0px;
}

.shadow.frame-scroll,
.shadow.painel.painel-names {
    margin-bottom: 0px;
}

.col-sm-8.frame {
    margin-top: 7.5px;
}

.anuncio {
    background-color: #dedede;
    border-radius: 50px;
}

.erro {
    border-radius: 50px;
}

.motd {
    white-space: pre-wrap;
}

.autor {
    color: #827ffe;
    word-wrap: break-word;
}

.conexao {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    z-index: 10;
    font-weight: normal;
}

/* Painel Lateral */
.frame-painel {
    padding: 0px;
    width: 15vw;
}

.faixa-painel {
    font-family: Ubuntu-Bold, sans-serif;
    background: #403866;
    color: white;
    height: 50px;
}

.faixa-painel p {
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
}

#titulo-painel {
    color: #efefef;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 0px;
}

.painel {
    padding: 15px;
    overflow-y: scroll;
    height: 72.6vh;
    background-color: #000000;
    font-weight: bold;
    color: white;
}

.painel p {
    cursor: pointer;
    word-wrap: break-word;
}

.mode-menu .glyphicon {
    cursor: pointer;
    margin-left: 15px;
}

.input-group {
    height: 7vh;
    border-radius: 0;
}

.input-group,
.btn.btn-warning {
    height: 100%;
}

.btn-group.btn-group-justified {
    font-family: Ubuntu-Bold, sans-serif;
    height: 8vh;
    color: black;
}

.mode-buttom,
#sair {
    height: 100%;
    border-radius: 0 !important;
    background: #E7CFFF;
    border-bottom-color: #E7CFFF;
}

.btn.btn-warning.enviar {
    color: white;
    background: #403866;
    border-color: #403866;;
}

/* Scrollbar */
.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.frame-scroll::-webkit-scrollbar {
    width: 8px;
}

.frame-scroll::-webkit-scrollbar-track {
    background-color: #eaeaea;
}

.frame-scroll::-webkit-scrollbar-thumb {
    background-color: #E7CFFF;
}

.frame-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}
